<!DOCTYPE html> 
<html> 
<head>
	<meta charset="utf-8" />
	<title>VUE1</title>
	<script src="../jquery.min.js"></script>
	<script src="../vue.js"></script>
	<link type="text/css" rel='stylesheet' href="../vue.css"></link>
</head> 
<body>
	<div id="app">
		<span v-bind:title="message" contenteditable="true">{{ message }}</span>
		<input v-model="message" spellcheck="false"/>
	  	<button v-on:click="reverseMessage">逆转消息</button>
	  	<p v-if="seen">This shuould be seen.</p>
	  	<ol>
	  		<li v-for="key in todos">{{key.text}}</li>
	  	</ol>
	</div>
	<div id="app2">
		<ol>
			<todo-item
			 v-for="item in list"
			 v-bind:todo="item"
			 v-bind:tt="sd"
			 v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>
	<div id="app3">
		<p>{{a}}</p>
		<button v-on:click="alert('click ', $event)">button2</button>
	</div>
	<script src="../vue-js/vue-base1.js"></script>
</body> 
</html>

